@model OnlineRestaurant.ViewModels.AdminMainDashboardVM

@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "_AdminDashboard";
}

<div class="container-fluid px-4">  
    <h1 class="mt-4">Admin Dashboard</h1>  
     <ol class="breadcrumb mb-4">  
         <li class="breadcrumb-item active">Dashboard</li>  
     </ol>  
     <div class="row">  
          <div class="col-xl-3 col-md-6">  
              <div class="card bg-primary text-white mb-4">  
                   <div class="card-body">Categories</div>  
                      <div class="card-footer d-flex align-items-center justify-content-between">  
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>  
                            <h1 class="fs-7 text-white">@Model.categories</h1>
                         </div>  
                      </div>  
                   </div>  
                    <div class="col-xl-3 col-md-6">  
                         <div class="card bg-warning text-white mb-4">  
                              <div class="card-body">Products</div>  
                               <div class="card-footer d-flex align-items-center justify-content-between">  
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>  
                                    <h1 class="fs-7 text-white">@Model.products</h1>

                                </div>  
                            </div>  
                        </div>  
                        <div class="col-xl-3 col-md-6">  
                            <div class="card bg-success text-white mb-4">  
                                <div class="card-body">Users</div>  
                                <div class="card-footer d-flex align-items-center justify-content-between">  
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>  
                                    <h1 class="fs-7 text-white">@Model.users</h1>

                                </div>  
                            </div>  
                        </div>  
                        <div class="col-xl-3 col-md-6">  
                            <div class="card bg-danger text-white mb-4">  
                                <div class="card-body">Orders</div>  
                                <div class="card-footer d-flex align-items-center justify-content-between">  
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>  
                                    <h1 class="fs-7 text-white">@Model.orders</h1>

                                </div>  
                            </div>  
                        </div>  
                    </div>  
                </div>